html,body{
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2B6C;
    padding: 25px;

    & ul {
        list-style: none;
        display: flex;
        gap: 20px;
        margin: 0;
        padding: 0;
        
        & a {
            color: white;
            text-decoration: none;
        }

        & a:hover {
            color: #8BBAD4;
        }
    }
}

.header {
    background-color: #8BBAD4;
    padding: 10px;
    text-align: center;
}

.success {
    text-align: center;
    margin: 100px auto;
    padding: 50px;
    background-color: #d1e7f8;
    border-radius: 10px;
    width: 90%;
    max-width: 650px;
    margin-bottom: 50px;
}
.reversed_button{
    display: flex;
    justify-content: center;
}
.reversed_button button{
    padding: 20px 50px;
    font-size: 20px;
    background-color: #9FE4DE;
    border: none;
    border-radius: 10px;
    
}
