table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}
table, th, td {
    border: 1px solid #ddd;
}
th, td {
    padding: 12px;
    text-align: left;
}
th {
    background-color: #81B3D2;
    color: white;
}
.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    width: 80%;
    max-width: 600px;
}
.modal h3 {
    margin-top: 0;
}
.modal-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.modal-buttons button {
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.approve {
    background-color: #28a745;
    color: white;
}
.reject {
    background-color: #dc3545;
    color: white;
}
.close {
    background-color: #6c757d;
    color: white;
}
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

/* สไตล์ของกราฟ */
.myChart {

    display: flex;
    justify-content: center;
    margin: auto;
    width: 100%;
    padding: 20px;
}

.myChart > .thisChart {
    align-items: center;
    position: relative; 
    width: 450px;
    height: 400px;
    gap: 20;
}

.select {
    display: flex;
    justify-content: center;
    margin: 20px;
    width: 20%; /* Adjust the width as needed */
}