.detail p {
    font-size: 12px; /* ขนาดตัวหนังสือเล็กลง */
    margin: 5px 0; /* เพิ่มระยะห่างระหว่างข้อความ */
  }

.company-info {
    font-size: 12px; /* ขนาดตัวหนังสือเล็กลง */
    margin: 5px 0; /* เพิ่มระยะห่างระหว่างข้อความ */
    color: #555; /* เปลี่ยนสีตัวหนังสือ */
  }